@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }


/*wrap*/
#wrap {
  width: 100%;
  margin: 0 auto;
}


/*leftnavi*/
.left-navi, .main, .right-navi{
  position: absolute;
}
.left-navi {
  background-color:rgba(0,0,0,0.4);
  color: #fff;
  width: 10vw;
  text-align: left;
  z-index: 2;
  height: 100vh;
  text-align: center;
}
.left-navi img{
  height: 55vh;
  padding-top: 5vh;
}
.left-navi ul{
  height: 35vh;
  padding-top: 3vh;
}

.left-navi ul li {
  margin: 4vh 0;
  position: relative;
}
.material-symbols-outlined{
  font-size: 3vw;
}

.toggle {
  display: none;
}

.toggle-label {
  display: block;
  cursor: pointer;
  padding: 1vh;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.toggle-label:hover {
  background-color: #0056b3;
}

.toggle-content {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  color: white;
  position: absolute;
  left: 100%; /* 左に表示する位置を設定 */
  top: 0;
  width: 200px; /* コンテンツの幅を設定 */
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toggle:checked + .toggle-label + .toggle-content {
  display: block;
}

/*timer*/
.timer-input {
  gap: 5px;
}
.timer-input input {
  width: 3vw; 
  text-align: center;
}


/*clock*/
#clock, #calendar{
  text-align: center;
}


/*mainvisual*/
.mainvisual{
  height: 100vh;
  z-index: 1;
  background-image: url(img/living.jpg);
  background-size: cover;
  background-position: center;
}

.right-navi {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: right;
  width: 10%;
  z-index: 2;
  height: 100vh;
  right: 0px;
}
.right-navi ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: auto;
}
.right-navi img{
  width: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 10px ;
}


/*右のabout/credit*/

.taggle-label-right{
  display: block;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.right-text{
  font-size: 2vw;
  padding-top: 1vh;
}
.toggle-content-right{
  display: none;
  font-size: 2vw;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: left;
  color: white;
  position: absolute;
  top: 0;
  left: 10vw;
  width: 80vw;
  height: 100vh;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: -90vw;
}
.center-a{
  text-align: left;
  padding-top: 1.5vw;
  padding-bottom: 0.5vw;
  margin: 0 6vw
}
.center{
  text-align: left;
  padding-top: 3vw;
  padding-bottom: 0.5vw;
  margin: 0 6vw
}
.center1{
  text-align: left;
  padding-top: 5vw;
  padding-bottom: 0.5vw;
  margin: 0 6vw
}
.small {
  text-align: left;
  margin: 0 7vw;
  font-size: 1.7vw;
}
.blank{
  padding: 20px;
}

/* チェックボックスがチェックされたときに展開するスタイル */
.toggle:checked + label + .toggle-content-right {
  display: block;
  overflow: auto;
}

/*スマホ横向き設定*/
.info{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); 

}
p.vertical-info{
  color: #fff;
  text-align: center;
  font-size: 6vw;

  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media screen and (orientation: landscape) {
  .info{
    display: none;
  }
  p.vertical-info { 
    display: none;
   }
}
